<!DOCTYPE html>
<html>
<head>
    <title>SIEM Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>SIEM</h2>

        <button onclick="window.location.href='/dashboard'">Home</button>
        <button onclick="window.location.href='/wazuh'">Dashboard</button>
        <button onclick="window.location.href='/logs'">Logs</button>
        <button onclick="window.location.href='/agents'">Agents</button>
        <button onclick="window.location.href='/settings'">Settings</button>
        <button onclick="window.location.href='/logout'">Logout</button>
    </div>

    <!-- CENTER -->
    <div class="center">

        <div class="content">

            <!-- IMAGE -->
            <img src="/static/cyber.png" alt="Cyber Security" class="top-image">

            <!-- TITLE -->
            <h1>
                DESIGN AND IMPLEMENTATION OF<br>
                SECURITY INFORMATION AND EVENT MANAGEMENT (SIEM)
            </h1>

            <!-- SUBTITLE -->
            <p>
                FOR MONITORING SECURITY EVENTS IN A BUSINESS ORGANIZATION
            </p>

        </div>

    </div>

</div>

</body>
</html>